#header-content {
    color: #ededed;
}

#header-content p {
    max-width: 100%;
    vertical-align: center;
    color: #ededed;
    font-family: "Anonymous Pro", monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid white;
}

#header-content p:nth-child(1) {
    width: 13em;
    -webkit-animation: type 3s steps(45, end);
    animation: type 3s steps(45, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#header-content p:nth-child(2) {
    width: 30.3em;
    opacity: 0;
    -webkit-animation: type 3s steps(45, end);
    animation: type 3s steps(45, end);
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#header-content p:nth-child(3) {
    width: 29.6em;
    opacity: 0;
    -webkit-animation: type 3s steps(45, end);
    animation: type 3s steps(45, end);
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#header-content p:nth-child(4) {
    width: 22.5em;
    opacity: 0;
    -webkit-animation: type2 3s steps(45, end),
        blink 0.5s step-end infinite alternate;
    animation: type2 3s steps(45, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
        border-top:0;
        border-left: 0;
        border-bottom: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 0.15em solid white;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
        border-top:0;
        border-left: 0;
        border-bottom: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 0.15em solid white;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
    }
    @-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

/* Header highlighting */
.highlight {
    background-color: #047857;
    background-position: 0% 0%;
    background-size: 100% 100%;
    transition: background-position 0.5s, background-size 0.3s ease-in 3s;
}

/* Media query */
@media (max-width: 575px) {
    #header-content {
        font-size: 11px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #header-content {
        font-size: 12px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #header-content {
        font-size: 14px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #header-content {
        font-size: 18px;
    }
}
